#content{
    width: 100vw;
    height: 100vh;
    background-image: url('../imgs/Windows11B.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

#content #form{
    width: 20%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.507)
}

#content #form h1{
    color: white;
    font-size: 15px;
    margin-bottom: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

#content #form #input{
    width: 80%;
    height: 10%;
    margin-bottom: 4%;
    margin-top: 4%;
    background: none;
    border: none;
    border-bottom: 1px solid;
    color: white;
    outline: none;
    font-size: 12px;
}
#content #form input::placeholder{
    color: #fff;
}

#content #form #passwordDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 10%;
    border-bottom: 1px solid white;
    margin-top: 4%;
}
#content #form #passwordDiv input{
    width: 80%;
    height: 100%;
    margin-bottom: 4%;
    margin-top: 4%;
    background: none;
    border: none;
    color: white;
    outline: none;
}
#content #form #passwordDiv  p{
    width: 20%;
    height: 100%;
}

#content #form button{
    border: none;
    background: none;
    border: 1px solid #009aff;
    padding: 2%;
    color: white;
    transition: 0.5s;
    margin-top: 5%;
}
#content #form button:hover{
    color: #0090ff;
}